#form-container {
    margin-left: 25%;
    width: 50%;
    height: 100%;
    text-align: center;
}

@media (max-width: 870px) {
    #form-container {
        margin-left: 10%;
        width: 80%;
    }
}

#form-container input {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1%;
    width: 98%;
    font-family: montserrat;
    border-radius: 0.5vh;
    border-width: 0.1vh;
    box-shadow: 2px 2px 5px grey;
}

#form-container input:focus {
    outline-color: blue;
    outline-width: 2px;
}

#signup-link {
    font-family: montserrat;
    color: darkblue;
}

.submit:hover {
    cursor: pointer;
}
